body {
    margin: 0;
    padding: 0;
}

/* body * {
    border: 1px solid red;
} */

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 15px;
    border: 2px solid black;
}

.mainContainer * {
    flex-wrap: wrap;
}

/* SCOREBOARD */
.scoreContainer {
    display: flex;
}

.gameScore {
    flex: 1 0 50%;
    text-align: center;
}


/* ROUND READOUT */
.roundReadout {
    margin: 5px;
    text-align: center;
}

/* BUTTONS */
.buttonContainer {
    display: flex;
    justify-content: center;
}

.gameButton {
    flex: 1 0 30%;
    margin: 5px;
}